/* mediaCard.css */
.link {
	text-decoration: none;
}

/* Estilos para la tarjeta */

.car-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 200px;
	width: auto;
	background-color: #fafafa;
	border-radius: 8px;
	border: 1px solid #ccc;
	will-change: filter;
	transition: filter 300ms;
}
.car-card:hover {
	filter: drop-shadow(0 0 2em rgba(42, 103, 140, 0.3));
}
.body2 {
	width: 100%;
	height: 100%;
	width: 350px;
	position: relative;
}

.card-name {
	margin: 0;
	font-size: 1.25rem;
	font-weight: 700;
	color: black;
	background-color: rgba(42, 103, 140, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	width: auto;
	border-radius: 0 8px 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.car-description {
	font-size: 0.95rem;
	color: #777;
	margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: start;
	text-align: center;
}

.car-id {
	margin: 0;
	font-size: 1.25rem;
	font-weight: bold;
	color: #e74c3c;
	background-color: rgba(42, 103, 140, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}
.div-photo {
	position: relative;
	margin: 0;
	padding: 0;
	height: 200px;
}

.photo {
	height: 200px;
	border-radius: 8px 0 0 8px;
	width: 300px;
	object-fit: cover;
}
.logo {
	position: absolute;
}
.container-icon {
	position: absolute;
	right: 1%;
	bottom: 0%;
	display: flex;
}
.container-icon > button {
	color: #e74c3c;
	margin: 0;
	padding: 0;
	background-color: #fafafa;
	padding: 3px;
}
.container-icon > button:hover {
	background-color: #fafafa;
	color: #777;
	border-radius: 100px;
	padding: 3px;
}
@media (width < 1350px) {
	.body2 {
		width: 250px;
	}
	.photo {
		width: 150px;
	}
}
