.share-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-info {
    display: flex;
    justify-content: center;
}

.car-info img {
    width: 40%;
    border-radius: 15px;
}

.car-info p {
    background-color: lightgrey;
    padding: 7px;
    border-radius: 15px;
}

.car-to-share {
    font-size: 0.95rem;
    color: #777;
    margin: 0.5rem;
    display: flex;
    align-items: start;
    text-align: center;
    flex-direction: column;
}
