.carBrand {
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
	width: 100%;
	background-color: #f0f0f0;
	padding-top: 12rem;
	background-image: linear-gradient(#303030, transparent);
}
.carBrand img {
	width: 40px;
	height: auto;
	padding: 1% 0;
}
@media (width < 1330px) {
	.carBrand {
		padding-top: 4rem;
	}
	.carBrand img {
		width: 30px;
		height: auto;
		padding: 2% 0;
	}
}
