.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
}
.welcome-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    width: 30vw;
    min-width: 200px;
    min-height: 200px;
    border-radius: 30px;
    background-color: none;
}
.welcome-admin h1 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.4166666865348816px;
    text-align: center;
    color: rgba(40, 181, 225, 1);

    margin: 2px 0px;
}
.welcome-admin h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;    
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.009999999776482582px;
    text-align: center;
    margin: 12px 0px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vw;
    min-width: 200px;
    background: linear-gradient(#97c6e6, white);
}
.buttons-container button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    min-width: 200px;
    min-height: 80px; 
}
.admin-panel{
    display: flex;
    align-items: flex-start;
}
.buttons-container button h3 {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0.009999999776482582px;
    text-align: center;
    color: black;
}

.list-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    width: 40vw;
    min-width: 470px;
    min-height: 115px;
    background-color: white;
    margin: 10px 0; 
}
.selected-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    min-width: 50vw;
}

.buttons-container button:hover{
    background-color: rgba(42, 103, 140, 0.25);
    color: #ecf0f1; 
}

.add-product, .add-feature, .add-category {
    margin-left: 30px;
}

.add-product h3, .add-feature h3, .add-category h3 {
    display: flex;
}